*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./MINDMERGE.png) ;
  background-size: cover;
  background-position: center;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(./MINDMERGE.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box{
  background: #ff574a;
  text-align: center;
  padding: 40px 90px;
  color: #fff;
  position: relative;
  border-radius: 20px;
}

.menu-icon{
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.setting-icon{
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}
.profile-pic{
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 6px;
  margin-top: 40px;
}

.profile-bottom{
  background: #fff;
  color: #999;
  padding:60px 0;
  margin-right: -90px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;
}

.profile-bottom img{
  width: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.profile-box button{
  background: #fff;
  color: #ff574a;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
  padding: 15px 60px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: -50px;
  font-weight: 600px;
  font-size:16px;
}

.profile-box h3{
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}

.social-media img{
  width: 20px;
  margin: 30px 5px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.MindMerge{
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover{
  background: #fff;
  color: #162938;
}

.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.832);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(94, 93, 93, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 transition: height .2s ease;
}

.wrapper.active{
  height: 520px;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login{
 transition: transform .18s ease;
 transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
 }
.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #507fa3;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}


.form-box h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #999;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}

.remember-forget{
  font-size: .9em;
  color: #507fa3;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input{
  accent-color: #507fa3;
  margin-right: 3px;
}

.remember-forget a{
  color: #507fa3;
  text-decoration: none;
}

.remember-forget a :hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #507fa3;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register{
  font-size: .9em;
  color: #507fa3;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #507fa3;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}

.bgimage {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  z-index: -1;
}
/*
.logo {
  color: white;
  font-family: Inter;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  text-align: left;
}
/*
.navlink {
  display: flex;
  justify-content: space-between;
}

a {
  padding: 0 20px 0 20px;
  color: white;
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}



.main {
  margin-top: 15%;
  align-items: center;
}
*/
.main h1 {
  color: white;
  font-family: Koulen;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
} 

/* .register {
  color: white;
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  text-align: left;
} */